<!-- <ul>
    <li class="text" *ngFor="let chat of chats | async"> {{chat.mensaje | json}} 1</li>
</ul> -->
<div class="main-container container">
    <div class="row">
        <div class="col-6">
            <h1>Firechat</h1>
            <hr>
        </div>
        <div class="col-6 text-right" *ngIf="chatService.usuario.uid">
            <button class="btn btn-outline-danger" type="button" (click)="chatService.logout()">salir</button>
        </div>
    </div>
    <app-login *ngIf="!chatService.usuario.uid"></app-login>
    <div class="chat-window" *ngIf="chatService.usuario.uid">
        <app-chat></app-chat>
    </div>
</div>